@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("/img/bg/decor/leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 650px;
  color: #ffffff;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -45px;
  left: 3%;
  content: url(/img/decor/side-leaf.png);
}
.hero:after {
  content: url("/img/decor/berries_bars.png");
  position: absolute;
  bottom: -50px;
  right: 0;
}

.hero__title-section {
  width: 46%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px;
  background: url("/img/bg/decor/bars.png") right center/50% auto no-repeat;
}

.hero__title-main {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 35px;
  padding-right: 14%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.menu__link {
  text-decoration: none;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 9px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 37px;
  margin-right: 13px;
}

.feature__text {
  font-size: 16px;
  color: #ffffff;
  max-width: 75px;
  margin-right: 41px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 21px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  display: inline-block;
  border: none;
}
.btn--color--white {
  background: #ffffff;
  color: #365a49;
}
.btn--color--white:hover {
  background: #365a49;
  color: #ffffff;
}
.btn--green {
  background: #2e4e3f;
  color: #fff;
}
.btn--green:hover {
  background: #fff;
  color: #000;
}
.btn--transparent {
  background: transparent;
  color: #2e4e3f;
  text-transform: none;
  font-weight: normal;
}
.btn--transparent:hover {
  color: #000;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
  color: #292929;
}
.section__title.section__title--green {
  color: #365a49;
}

.order-section {
  background: url("/img/bg/order.png") no-repeat;
  background-size: 100%;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  /*content: url("/img/decor/raspberry.png");*/
  position: absolute;
  top: 30px;
  right: 0;
  transform: translate(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-circle {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 70px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
}

.benefit__title {
  font-size: 27px;
  font-weight: bold;
  color: #292929;
}

.headline {
  text-align: center;
  margin-bottom: 50px;
}

.headline__title {
  margin-bottom: 20px;
}

.headline__subtitle {
  padding: 0 26%;
}

.benefits-section {
  position: relative;
  /*background: url("/img/decor/side-leaf.png") left top 57% no-repeat;*/
}
.benefits-section::before {
  content: url("/img/decor/raspberry.png");
  position: absolute;
  bottom: -80px;
  left: 0;
}

.reviews__display {
  background: #f8faf9 url("/img/decor/drown-berries.png") right top no-repeat;
  padding: 42px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 85px;
  height: 85px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -65px;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 252px;
  height: 264px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 40px;
}

.reviews__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #292929;
}

.reviews__text {
  margin-bottom: 25px;
  max-width: 434px;
}

.reviews__author {
  font-weight: 500;
  font-size: 18px;
  color: #292929;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
}
.reviews__switcher-item:last-child {
  margin-left: 0px;
}

.interactive-avatar {
  width: 75px;
  height: 75px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #365a49;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 27px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 12px;
}

.form__block {
  flex: 1;
  margin-right: 17px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border: solid 3px transparent;
}
.form__input--textarea {
  height: 152px;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 22px;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("/img/icons/tick.png") center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 26px;
  margin-right: 10px;
}
.radio__visible:before {
  content: "";
  width: 13px;
  height: 13px;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-reviews-section {
  position: relative;
}

.benefits-reviews-section {
  position: relative;
}
.benefits-reviews-section::before {
  content: url("/img/decor/strawberries.png");
  position: absolute;
  top: 42px;
  right: 0;
}