@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/bg/decor/leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #ffffff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}
.hero:before {
  position: absolute;
  bottom: -2.5rem;
  left: 3%;
  content: url("../img/decor/side-leaf.png");
}
@media screen and (max-width: 480px) {
  .hero:before {
    display: none;
  }
}
.hero:after {
  content: url("../img/decor/berries_bars.png");
  position: absolute;
  bottom: -2.7777777778rem;
  right: 0;
}
@media screen and (max-width: 480px) {
  .hero:after {
    display: none;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 17.7777777778rem;
    height: 18.3333333333rem;
    background: url("/img/decor/hero-decor.png") center center/contain no-repeat;
    margin-bottom: 0.9444444444rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.7777777778rem;
  background: url("../img/bg/decor/bars.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-main {
  font-size: 2.6666666667rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.8333333333rem;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.9444444444rem;
  padding-right: 14%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.5rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
}
.phone-number--theme--green {
  color: #497870;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number__text {
  white-space: nowrap;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 0.5rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.0555555556rem;
  margin-right: 0.7222222222rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  color: #ffffff;
  max-width: 4.1666666667rem;
  margin-right: 2.2777777778rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: bold;
  text-decoration: none;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  display: inline-block;
  border: none;
}
.btn--color--white {
  background: #ffffff;
  color: #365a49;
}
.btn--color--white:hover {
  background: #365a49;
  color: #ffffff;
}
.btn--green {
  background: #2e4e3f;
  color: #fff;
}
.btn--green:hover {
  background: #fff;
  color: #000;
}
.btn--transparent {
  background: transparent;
  color: #2e4e3f;
  text-transform: none;
  font-weight: normal;
}
.btn--transparent:hover {
  color: #000;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  color: #292929;
}
.section__title.section__title--green {
  color: #365a49;
}

.order-section {
  background: url("../img/bg/order.png") no-repeat;
  background-size: cover;
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-right: 1.0555555556rem;
    margin-bottom: 2.7777777778rem;
  }
}
.benefits__item:before {
  content: url("../img/decor/separator.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-circle {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 3.8888888889rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 1.1111111111rem;
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.7777777778rem;
  }
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

@media screen and (max-width: 480px) {
  .benefit__desc {
    max-width: 16.1111111111rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 2.7777777778rem;
}

.headline__title {
  margin-bottom: 1.1111111111rem;
}

.headline__subtitle {
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 2%;
  }
}

.benefits-section {
  position: relative;
  background: url("../img/decor/white-side-leaf.png") left top 57% no-repeat;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section:before {
  content: url("../img/decor/raspberry.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.reviews__display {
  background: #f8faf9 url("../img/decor/drown-berries.png") right top no-repeat;
  padding: 2.3333333333rem;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 4.7222222222rem;
  height: 4.7222222222rem;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -3.6111111111rem;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 35px;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 2.2222222222rem;
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.6666666667rem;
  color: #292929;
}

.reviews__text {
  margin-bottom: 1.3888888889rem;
  max-width: 24.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    max-width: 677px;
  }
}

.reviews__author {
  font-weight: 500;
  font-size: 1rem;
  color: #292929;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
}
.reviews__switcher-item:last-child {
  margin-left: 0rem;
}

.interactive-avatar {
  width: 4.1666666667rem;
  height: 4.1666666667rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
}
.interactive-avatar--active {
  border-color: #365a49;
}

.interactive-avatar__link {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.5rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.6666666667rem;
}

.form__block {
  flex: 1;
  margin-right: 0.9444444444rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent;
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.2222222222rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/tick.png") center no-repeat;
}

.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 1.4444444444rem;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-reviews-section {
  position: relative;
}
.benefits-reviews-section::before {
  content: url("../img/decor/strawberries.png");
  position: absolute;
  top: 1.1111111111rem;
  right: 0;
}

.benefits-order-section {
  position: relative;
}
.benefits-order-section::before {
  content: url("../img/decor/third-leaf.png");
  position: absolute;
  bottom: 0;
  right: 0;
}

.hamburger {
  width: 24px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.contacts {
  font-style: normal;
  font-size: 1.1111111111rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.map-section {
  background: url("../img/bg/map.png") no-repeat;
  background-size: cover;
  max-width: 61.1111111111rem;
  max-height: 36.2222222222rem;
}