.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}


.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-right: rem(19px);
        margin-bottom: rem(50px);
    }

    &:before {
        content: url("../img/decor/separator.png");
        position: absolute;
        top: rem(30px);
        right: 0;
        transform: translate(50%);

        @include phones {
            display: none;
        }
    }

      
    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }

    @include phones-small {
        margin-bottom: rem(10px);
    }

}


