.benefits-section {
    position: relative;
    background: url("../img/decor/white-side-leaf.png") left top 57% no-repeat;

    @include phones {
        background: none;
    }


    &:before {
        content: url("../img/decor/raspberry.png");
        position: absolute;
        bottom: rem(-80px);
        left: 0;

        @include phones {
            display: none;
        }
    }

}

