.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
        align-items: center;
    }

}


.benefit__image-circle {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;

}

.benefit__icon {
    width: rem(70px);
    height: rem(69px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: rem(20px);
}

.benefit__title {
    font-size: rem(27px);
    font-weight: bold;
    color: #292929;

    @include phones {
        margin-bottom: rem(14px);
    }

    @include phones-small {
        margin-bottom: rem(5px);
        font-size: rem(20px);
    }

}

.benefit__image {
    margin-bottom: rem(19px);

    @include phones {
        margin-bottom: 0;
        margin-right: rem(20px);
    }

}

.benefit__desc {
    @include phones {
        max-width: rem(290px);
    }

    @include phones-small {
        font-size: rem(14px);
    }
}