.benefit {
    text-align: center;
}

.benefit__image-circle {
    display: inline-block;
    width: 128px;
    height: 128px;
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: 70px;
    height: 69px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 20px;
}

.benefit__title {
    font-size: 27px;
    font-weight: bold;
    color: #292929;


}