
.benefits-reviews-section {
    position: relative;

    &::before {
        content: url("../img/decor/strawberries.png");
        position: absolute;
        top: rem(20px);
        right: 0;

        @include phones-small {
            content: none;
        }
    }

    
}


