.btn {
    font-size: rem(16px);
    font-weight: bold;
    text-decoration: none;
    padding: rem(21px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    display: inline-block;
    border: none;

    &--color--white {
        background: #ffffff;
        color: #365a49;

        &:hover {
            background: #365a49;
            color: #ffffff;
        }
    }


    &--green {
        background: #2e4e3f;
        color: #fff;

        &:hover {
            background: #fff;
            color: #000;
        }
    }

    &--transparent {
        background: transparent;
        color: #2e4e3f;
        text-transform: none;
        font-weight: normal;

        &:hover {
            color: #000;
        }
    }

}