.feature {
    display: flex;
    
}


.feature__icon {
    width: rem(37px);
    margin-right: rem(13px);
}

.feature__text {
    font-size: rem(16px);
    color: #ffffff;
    max-width: rem(75px);
    margin-right: rem(41px);

}