.feature {
    display: flex;
    
}


.feature__icon {
    width: 37px;
    margin-right: 13px;
}

.feature__text {
    font-size: 16px;
    color: #ffffff;
    max-width: 75px;
    margin-right: 41px;

}