.hamburger {
    width: 24px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background: #fff;
    height: rem(4px);
    border-radius: rem(10px);
}