.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 27px;

    &:last-child {
        margin-right: 0;
    }
}

.phone-number {
    font-size: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon-elem {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}

.menu__link {
    text-decoration: none;
}

