.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu {
    margin: 0 rem(30px);
    padding-top: rem(5px);

    @include tablets {
        display: none;
    }

}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(27px);
    margin-bottom: rem(10px);

    &:last-child {
        margin-right: 0;
    }
}

.phone-number {
    font-size: rem(22px);
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;

    &--theme--green {
        color: #497870;
    }
}





.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__icon-elem {
    width: rem(14px);
    height: rem(14px);
    margin-right: rem(6px);
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.phone-number__text {
    white-space: nowrap;
}

