.hero {
    background: url("../img/bg/decor/leaf.png") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: rem(650px);
    color: #ffffff;
    position: relative;

    @include tablets {
        background-position: right bottom 88%;
    }

    &:before, &:after {
        @include tablets {
            display: none;
        }
    }

    &:before {
        position: absolute;
        bottom: rem(-45px);
        left: 3%;
        content: url("../img/decor/side-leaf.png");

        @include phones {
            display: none;
        }
    }

    &:after {
        content: url("../img/decor/berries_bars.png");
        position: absolute;
        bottom: rem(-50px);
        right: 0;

        @include phones {
            display: none;
        }
    }
}


.hero__title-section {
    width: 46%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before {
            content: "";
            width: rem(320px);
            height: rem(330px);
            background: url("/img/decor/hero-decor.png") center center / contain no-repeat;
            margin-bottom: rem(17px);
        }

    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(50px);
    background: url("../img/bg/decor/bars.png") right center / 50% auto no-repeat;

    @include tablets {
        background: none;
    }
}


.hero__title-main {
    font-size: rem(48px);
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: rem(15px);
}

.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(35px);
    padding-right: 14%;

    @include tablets {
        padding: 0 25%;
    }

    @include phones {
        padding: 0 16%;
    }
}