.hero {
    background: url("../img/bg/decor/leaf.png") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: 650px;
    color: #ffffff;
    position: relative;

    &:before {
        position: absolute;
        bottom: -45px;
        left: 3%;
        content: url(../img/decor/side-leaf.png);
    }

    &:after {
        content: url("../img/decor/berries_bars.png");
        position: absolute;
        bottom: -50px;
        right: 0;
    }
}


.hero__title-section {
    width: 46%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 50px;
    background: url("../img/bg/decor/bars.png") right center / 50% auto no-repeat;
}


.hero__title-main {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 35px;
    padding-right: 14%;
}