.interactive-avatar {
    width: 75px;
    height: 75px;
    border: 4px solid transparent;
    border-radius: 50%;

    &--active {
        border-color: #365a49;
    }
}

.interactive-avatar__link {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.interactive-avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}