$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$blue: #61c4d9;
$darkGreen: #497870; 

//z-indexes
$z-fixed-menu: 100;


// normalize 
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

// setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "./layout.scss";

// components
@import "./hero.scss";
@import "./header.scss";
@import "./features.scss";
@import "./feature.scss";
@import "./btn.scss";
@import "./section.scss";
@import "./benefits.scss";
@import "./benefit.scss";
@import "./headline.scss";
@import "./benefits-section.scss";
@import "./reviews.scss";
@import "./interactive-avatar.scss";
@import "./form.scss";
@import "./radio.scss";
@import "./fixed-menu.scss";
@import "./benefits-reviews-section.scss";
@import "./benefits-order-section.scss";










