.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: 22px;

    &--checkbox {
        .radio__visible {
            border-radius: 0;

            &:before {
                background: url("../img/icons/tick.png") center no-repeat;
            }
        }
    }
}

.radio__elem {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked~.radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 26px;
    margin-right: 10px;


    &:before {
        content: "";
        width: 13px;
        height: 13px;
        background: #365a49;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}