

.reviews__display {
    background: #f8faf9 url("/img/decor/drown-berries.png") right top no-repeat;
    padding: 42px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 85px;
        height: 85px;
        background: #ffffff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -65px;
    }


    
}

.reviews__display-inner {
    display: flex;
}


.reviews__avatar {
    width: 252px;
    height: 264px;
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: 40px;
}

.reviews__title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #292929;
}

.reviews__text {
    margin-bottom: 25px;
    max-width: 434px;
}

.reviews__author {
    font-weight: 500;
    font-size: 18px;
    color: #292929;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__switcher-item {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    
    &:last-child {
        margin-left: 0px;
    }

}