

.reviews__display {
    background: #f8faf9 url("../img/decor/drown-berries.png") right top no-repeat;
    padding: rem(42px);
    margin-bottom: rem(20px);
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: rem(85px);
        height: rem(85px);
        background: #ffffff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: rem(-65px);
    }


    
}

.reviews__display-inner {
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}


.reviews__avatar {
    width: rem(252px);
    height: rem(264px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
        margin-bottom: 35px;

    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: rem(40px);
}

.reviews__title {
    font-size: rem(27px);
    font-weight: bold;
    margin-bottom: rem(12px);
    color: #292929;

}

.reviews__text {
    margin-bottom: rem(25px);
    max-width: rem(434px);

    @include tablets {
        max-width: 677px;
    }
}

.reviews__author {
    font-weight: 500;
    font-size: rem(18px);
    color: #292929;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__switcher-item {
    width: rem(180px);
    height: rem(180px);
    overflow: hidden;
    border-radius: 50%;
    
    &:last-child {
        margin-left: rem(0px);
    }

}