.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: rem(60px);
    text-align: center;
    color: #292929;

    &.section__title--green {
        color: #365a49;
    }

    @include phones-small {
        margin-bottom: 0;
        font-size: 28px;
    }
}

.order-section {
    background: url("../img/bg/order.png") no-repeat;
    background-size: cover;
    

}



