.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section__title {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-align: center;
    color: #292929;

    &.section__title--green {
        color: #365a49;
    }
}

.order-section {
    background: url("../img/bg/order.png") no-repeat;
    background-size: cover;

}



